//! **************************************************************************
// Written by: Map P.20131013 on Sun May 07 19:14:41 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clock_pin" LOCATE = SITE "V10" LEVEL 1;
COMP "reset_pin" LOCATE = SITE "V4" LEVEL 1;
COMP "serialDataOut_pin" LOCATE = SITE "T7" LEVEL 1;
COMP "serialDataIn_pin" LOCATE = SITE "R7" LEVEL 1;
TIMEGRP clock_pin = BEL "make_ClockDivider/internalClk" BEL
        "make_ClockDivider/counter" BEL "clock_pin_BUFGP/BUFG";
TS_clock_pin = PERIOD TIMEGRP "clock_pin" 40 MHz HIGH 50%;
SCHEMATIC END;

